*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Salsa', cursive;
    transition: filter 0.5s;
    color: whitesmoke;
    text-decoration: none;
}
body{
    background-color: rgb(14, 13, 13);
    overflow: hidden;
}
.fondo{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url("https://i.ytimg.com/vi/PXXkleB3SoU/maxresdefault.jpg");
}


.fondo:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

li{
    list-style: none;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    animation: navLogoArriba 1.5s ease;
    z-index: 100;
    backdrop-filter: blur(10px);
background: transparent;
position: absolute;
}

.sinopsis{
    width: 700px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
nav ul li{
    margin: 0 20px 0 20px;
    font-size: 20px;
    cursor: pointer;
}

.logo{
    font-weight: 900;
    font-size: 40px;
    transition: opacity 0.5s;
    animation: navLogo 2.5s ease;
}

nav ul li a{
    transition: all 0.3s;
}

nav ul li a:hover{
    color: rgb(187, 185, 185) !important;
}


footer div ul li i, footer div ul li a{
    color: white;
    opacity: 0.9;
    font-size: 18px;
    padding: 10px;
    transition: opacity 0.3s;
    text-align: right;
    cursor: pointer;
}

footer div ul li i:hover, footer div ul li a:hover{
    opacity: 0.7;
}

footer div ul{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

footer div{
    position: absolute;
    right: 30px;
    bottom: 5px;
    transition: opacity 0.3s;
    z-index: 100;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 20px;
}

main section{
    z-index: 100;
    position: relative;
    padding: 20px;
    background: rgba(0, 0, 0, 0.616);
    width: fit-content;
    margin: 20px;
}

.btn{
    width:150px;
    height:50px;
    padding:10px;
    border:solid 1px whitesmoke;
    border-radius:40px;
    box-shadow: 1px 10px 20px grey;
    position:relative;
    overflow:hidden;
    cursor: pointer;
    background: #0c0c0c;
  }
  .btn:before{
    content:"DESCARGAR";
    width:100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    color: whitesmoke;
    font-weight:bold;
    position:absolute;
    top:0;
    left:0;
    transition:all .8s ;
  }
  .btn:hover:before{
    transform:translatey(-100%);
    transition:all .8s ;
  }
  .btn:after{
    content:"🎮";
    background-color:mediumpurple;
    font-size:100px;
    width:100%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    color:white;
    position:absolute;
    top:100%;
    left:0;
    transition:all .8s ;
  }
  .btn:hover:after{
    transform:translatey(-100%);
    transition:all .8s ;
  }

.consolas{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}
.consolas li{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h1{
    font-size: 30px;
}

.descripcion{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.descripcion div p{
    margin-right: 20px;
    margin-bottom: 10px;
}

@media (max-width: 840px) {
    .fondo{
        position: inherit;
        height:45vh;
    }
    footer div {
        position: inherit;
        margin-top: 40px;
        bottom: 0;
    }
    .fondo:before{
        position: inherit;
    }
    body{
        overflow-y: visible;
    }
    main{
        display: flex;
        justify-content: center;
    }
    main section {
        transform: translate(0px, 0vh);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
    nav ul{
        display: none;
    }

    footer div ul li i, footer div ul li a {
        color: white;
        opacity: 0.9;
        font-size: 14px;
        padding: 10px;
        transition: opacity 0.3s;
        text-align: right;
        cursor: pointer;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    .descripcion{
        justify-content: center;
    }
    
}

@media (max-width: 425px){
    .consolas {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
        flex-direction: column;
        width: 100%;
    }
}